<h1>TpPortfolio</h1>
<p>
  Bonjour ce portfolio regroupe plusieurs petit projets Angular que j'ai appris
  durant ma formation Développeur JAVA à l' Eni.
</p>

<p>
  Nous avons les bases de Html / Css / Javascript / Typescript les 2° semaines puis Angular la 3°
  semaine afin de savoir faire aussi du Frontend.
</p>

<p>
  Avec les Modèles pour les interfaces, les Services pour les fonctions et le
  Routing ( pour Typescript et Angular ).
</p>

<p>
  Cliquez sur les liens dans la barre de navigation pour voir les différentes
  applications
</p>

<div class="card-container">
  <img src="https://i.gifer.com/7Y0V.gif" alt="Angular gif" />
</div>
